.counter{
    width: fit-content;
    background-color: bisque;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.counter button:disabled{
    color: black;
}

.counter .itemCounter button:disabled {
    color: black;
    
}

.counter .itemCounter button {
    color: rgb(220, 225, 234);
    width: 3vh;
    
}

.counter .itemCounter button:active {
    color: mintcream;
    background-color:burlywood;
}

.counter span {
    margin: 20px;
}