.counter{
    display: block;
    width: fit-content;
    background-color: lightskyblue;
    margin: auto;
    padding: 0.2rem;
    text-align: center;
    width: 100%;
}

.title{
    padding: 1rem;
}
.counter button:disabled{
    color: grey;
}

.counter .itemCounter button:disabled {
    color: lightgray;
    
}

.counter .itemCounter button {
    color: rgb(220, 225, 234);
    width: 7vh;
    
}

.counter .itemCounter button:active {
    color: mintcream;
    background-color:burlywood;
}

.counter span {
    margin: 20px;
}

/* .itemCounter{
    display: flex;
    flex-direction: row;
} */