.container {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.cardDetail {
    border: 1px solid rgba(251, 251, 251);
    box-shadow: 0px 6px 10px lightgray;
    transition: 0.4s ease-out;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 500px;
    margin: 10px;
}

.cardDetail img {
    width: 500px;
    display: flex;
    position: static;
    text-align: center;
}

.cardDetail:hover {
    background: whitesmoke;
    box-shadow: 0px 15px 35px lightgray;
    transition: 1s ease;
    color:darkslategrey ;
}

.cardDetail .detalleCurso{
    display: flex;
    align-self: center;
    word-wrap: break-word;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

.cardDetail p {
    display: flex;
    padding-top: 5px;
    padding-left: 1px;
    font-weight: 400;
    font-size: 0.9em;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDetail p.nivelCurso {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8em;    
    margin-top: 5px;
}

.cardDetail div.align-btn {
    text-align: center;
}

.cardDetail button {
    border-color: rgba(0, 119, 182, 0.9);
    color:azure;
    background-color:lightseagreen;
    margin-bottom: 10px;
    border-radius: 6px;
}

.cardDetail button:hover {
    border-color: rgba(0,119,182);
    color: mintcream;
    /* background-color: whitesmoke; */
}

.cardDetail button:active {
    color: mintcream;
    background-color:aliceblue;
}

.cardDetail-button {
    text-align: center;
}

.detalleCurso {
    word-wrap: break-word;
    max-width: 100%;
}